#
# Build the cv
#
name: Build
on:
  pull_request:
  push:
    branches:
      - main
  # Schedule monthly builds
  schedule:
    - cron: '0 0 1 * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1

      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Install TeXlive
        run: sudo apt-get install texlive texlive-publishers texlive-science latexmk cm-super
  
      - name: Build Paper
        run: make
        
      - name: Prepare files for gh-pages
        run: |
          mkdir -p -v public
          cp -v manuscript/manuscript.pdf public/manuscript.pdf
  
      - name: deploy on orphan branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          keep_files: true
          publish_dir: output/
          force_orphan: true
