#
# Build the cv
#
name: Build
on:
  pull_request:
  push:
    branches:
      - main
  # Schedule monthly builds
  schedule:
    - cron: '0 0 1 * *'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1

      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Install TeXlive
        run: sudo apt-get install texlive texlive-publishers texlive-science latexmk cm-super
  
      - name: Build CV
        run: make

      - name: Prepare files for gh-pages
        run: |
          mkdir public
          mv cn/cv.pdf public/DTian_cv_cn.pdf
          mv en/cv.pdf public/DTian_cv_en.pdf

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.event_name == 'push'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          force_orphan: true
