#
# Build the cv
#
name: Build
on:
  pull_request:
  push:
    branches:
      - main
  # Schedule monthly builds
  schedule:
    - cron: '0 0 1 * *'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1

      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Install TeXlive
        run: sudo apt-get install texlive texlive-publishers texlive-science latexmk cm-super
  
      - name: Build Paper
        run: make
        
      - name: Prepare files for gh-pages
        run: |
          mkdir -p -v public
          mv -v cn/manuscript.pdf public/manuscript.pdf
        
  Deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
  
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          path: public

      - name: deploy on orphan branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: public
          force_orphan: true
